.card-title,
.card-text {
  font-family: "Handlee", cursive;
}
.card-title {
  font-weight: 600;
  font-size: larger;
}
.card-text {
  font-size: larger;
}
.text-body-secondary {
  font-size: 14px;
}
.note {
  background: url("https://img.freepik.com/free-vector/aged-paper-texture-background-design_60389-141.jpg?size=626&ext=jpg&ga=GA1.1.1700460183.1713052800&semt=ais");
  box-shadow: 0 0 28px -1px rgba(237, 197, 0, 0.28);
}
